@layer tailwind-base, antd;

@layer tailwind-base {
    @tailwind base;
}

@layer antd {
    /* Import các CSS của antd tại đây */
    @import "antd/dist/reset.css";
}

@tailwind components;
@tailwind utilities;


body {
  /* font-family: 'Poppins'; */
}
.container {  
  @apply max-w-7xl mx-[auto] px-4;
}
.text-hover:hover{
  color: #00BADB;
}
.custom-heading {
  @apply text-[32px]/[120%]  lg:text-[28px]/[110%] font-semibold text-center;
}
.custom-heading-sub {
  font-family: 'LibreBaskerville-Italic.ttf';
  font-size: 18px;
  color: #878787
}
.custom-btn:hover::before {
  height: 0;
}
.btn-load:hover::before {
  width: 0;
  border-radius: 180px;
}
.btn-load {
  @apply bg-[#00BADB] text-[#fff] w-[150px] h-[48px] font-bold text-lg relative z-10 transition ease-in-out duration-300
 rounded-[180px] 
  ;
}
.btn-load::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: -1;
  transition: width 0.2s ease-in;
  border-radius: 180px;
}

/*hd*/
.hd-container{
  @apply w-full lg:px-36 px-4 ms-auto me-auto;
}
.hd-col-item {
  @apply box-border max-w-full;
}
.hd-all-btn {
  @apply border-[1px] border-[#222] rounded-full text-center;
}
.hd-btn-item {
  @apply absolute block w-[30px] h-[40px] leading-[40px] border-0 ;
}
.hd-border-table {
  @apply border border-slate-300;
}
.hd-cart-note {
  @apply hd-border-table text-sm max-w-full h-10 leading-5 appearance-none shadow-none;
}
.hd-all-hover-bluelight {
  @apply hover:text-[#00BADB] transition-all ease-in-out duration-300;
}
.hd-all-hoverblue-btn {
  @apply hover:bg-[#00BADB] hover:text-white hover:border-none transition-all ease-in-out duration-100;
}
.hd-all-textgrey {
  @apply text-[#878787];
}
.hd-ship-icon > span {
  animation: 5s linear infinite bar-progress;
  background-size: 1rem 1rem;
  background-image: linear-gradient(
    135deg,
    #ffffff26 0 25%,
    #fff0 25% 50%,
    #ffffff26 50% 75%,
    #fff0 75% 100%
  );
}
.hd-ship-icon > span {
  border-radius: 5px;
  background-color: #00BADB;
  transition: width 0.4s ease-in-out;
}
.hd-svg {
  fill: #00BADB;
  line-height: 1;
  text-shadow: 0 0 8px rgb(0 0 0 / 50%);
}
.hd-account-menu-item{
  @apply block w-1/4 lg:text-left text-center flex-shrink-0 py-[1.5rem] leading-4 relative after:absolute after:bottom-0 after:left-0 after:bg-[#00BADB] after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-500;
}

.hd-animation-border:hover{
  --b: 2px;  /* the border thickness */
  --d: 45px; /* the distance from the edge */
  --o: 15px; /* the offset on hover */
  --s: 1;    /* the direction of the hover effect (+1 or -1)*/
  
  --_d: calc(var(--d) + var(--s)*1em);
  --_g: calc(100% - 2*(var(--_d) + var(--b)));
  --_m:
    conic-gradient(from 90deg at var(--_d) var(--_d),#0000 25%,#000 0)
     0 0/calc(100% - var(--_d)) calc(100% - var(--_d)),
    linear-gradient(#000 0 0) 50%/var(--_g) var(--_g) no-repeat;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  font-size: 0;
  cursor: pointer;
  transition: .35s;
}

.hd-switch > input[type="checkbox"]{
  -webkit-appearance: none;
}

